<launch>
    <arg name="drone_id" default="0"/>

    <node pkg="px4_ctrl" name="track" type="track.py" output="screen">
        <remap from="~odom" to="/q_sim/odom" />
        <remap from="~track_traj" to="/plan/track_traj" />
    </node>
    <node pkg="px4_ctrl" name="gates_sim" type="gates_sim.py" output="screen"/>
    <node pkg="px4_ctrl" name="plan" type="plan.py" output="screen">
        <remap from="~gates" to="/gates_sim/gates" />
    </node>

    <node pkg="px4_ctrl" name="q_sim" type="q_sim.py" output="screen">
        <remap from="~thrust_rates" to="/track/thrust_rates" />
    </node>
</launch>
